base_url: "http://linuxfr.org/news/"
twitter:
  endpoint: "https://api.twitter.com/"
  consumer_key:        "xxx"
  consumer_secret:     "xxx"
  access_token:        "xxx"
  access_token_secret: "xxx"
identica:
  endpoint: "http://identi.ca/api/"
  username: "linuxfrorg"
  password: "xxx"
